/* Example styling of a h1 element */
body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: black ;
    font-size: 30px;
  }
  h2 {
      color: black;
      font-size: 20px;
  }
  .solution {
      background-color: lightgray;
      padding: 20px 30px;
      text-align: center;
     }
      
 .links {
     background-color: lightgray ;
     padding: 20px 30px;
 }